html, body{
    height: 100%;
}

/* Color palattes */
:root {
    --dark_blue: #22577A;
    --blue: #38A3A5;
    --light_blue: #57CC99;
    --green: #2d6a4f;
    --light_green: #74c69d;
    --dark_green: #081c15;
}

/* Universal declarations */

.btn_dark_blue{
    background-color: var(--dark_blue);
    color: black;
}

.icon_dark_blue{
    background-color: var(--dark_blue);
    color: white;
}

.btn_blue{
    background-color: var(--blue);
}

.btn_light_blue{
    background-color: var(--light_blue);
}

.btn_green{
    background-color: var(--green);
}

.btn_dark_green{
    background-color: var(--dark_green);
}


.temp_fixxer{
    height: 100vh;
}

.cursor_pointer{
    cursor: pointer;
}

.background_blue{
    background-color: var(--blue);
}


/* FOOTER */

.footer_tpa{
    position: relative;
    bottom: 0px;
    height: 270px;
    width: 100%;
    background-color: var(--dark_blue);
    color: white;
    padding: 20px;

}

.height_100{
    position: relative;
    height: 100%;
    width: 100%;
    margin-bottom: 300px;
}


/* LOGIN PAGE CSS */

.login-card-wrapper{
    position: relative;
    height: 100%
}

.login-card{
    width: 350px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--blue);
    position: relative;
}

.img-wrapper{
    display: block;
    text-align: center;
}

.login-img{
    width: 100px;
}

.forgot_link{
    color: var(--dark_blue);
    cursor: pointer;
}

.forgot_link:hover{
    text-decoration: underline;
}

.login_footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

/* NAVBAR */

.header-login-btn{
    background-color: var(--blue);
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 5px;
}

.dropbtn {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    font-size: 16px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--dark_green);
    min-width: 110px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top: 105%;
    z-index: 1;
    right: 0px;
    border-radius: 5px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
  }
  
  .dropdown:hover .dropdown-content {display: block;}

  .dropdown-content a:hover{
      color: black;
  }

  .dropdown_link:hover{
      color: white !important;
  }

  .min_height_footer {
    min-height: 100vh;
  }

  .test_border{
      border: 1px solid red;
  }

  /* LOGIN MEDIA QUERIES */

  /* @media screen and (max-width: 1280px) {
    .login-card {
        width: 40%;
    }
}

  @media screen and (max-width: 960px) {
    .login-card {
        width: 50%;
    }
} */

  @media screen and (max-width: 640px) {
    .login-card {
        border: none;
        box-shadow: none;
    }

}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, tfoot, th, td, tr { 
		display: block; 
	}

    th{
        width: 100% !important;
    }
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
        padding: 0px;
		padding-left: 50%; 
        width: 100% !important;
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
}